<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">item 1</h2>

    <svg class="icon icon--secondary collapsible__chevron">
      <use xlink:href="images/sprite.svg#bars-solid"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore officiis,
    mollitia quas laudantium molestiae laboriosam, culpa ab error voluptatibus
    debitis ex facilis optio. A, natus.
  </div>
</div>
<script src="js/main.js"></script>
