<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
      <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2 showcase__content">
      <picture class="block-showcase__image">
        <source type="images/webp" srcset="images/sky.webp 1x, images/sky@2x.webp 2x">
        <source type="images/jpg" srcset="images/sky.jpg 1x, images/sky@2x.jpg 2x">
        <img src="images/sky.jpg" alt="" /></picture>
        <picture>
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#wordpress-brands-solid"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__tittle">Easy Start & Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
                accusamus facere tenetur quibusdam doloremque, praesentium fugit placeat
                deserunt facilis explicabo dignissimos excepturi obcaecati odit ducimus!
              </p>
            </div>
          </div>
        </li>
        <li> <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#arrow-up-right-dots-solid"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__tittle">Staging, GIT & WP-CLI</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
                accusamus facere tenetur quibusdam doloremque, praesentium fugit placeat
                deserunt facilis explicabo dignissimos excepturi obcaecati odit ducimus!
              </p>
            </div>
          </div></li>
        <li> <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#wordpress-brands-solid"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__tittle">Dynamic Caching & More</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
                accusamus facere tenetur quibusdam doloremque, praesentium fugit placeat
                deserunt facilis explicabo dignissimos excepturi obcaecati odit ducimus!
              </p>
            </div>
          </div></li>
      </ul>
    </div>
  </section>