<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur in
      ullam veritatis quas libero possimus.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <snap class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress-brands-solid"></use>
        </svg>
      </snap>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga iusto
        harum voluptatum quae qui hic temporibus inventore id aspernatur
        corporis?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="images/webp"
        srcset="images/nature.webp 1x, images/nature@2x.webp 2x" />
      <source
        type="images/jpg"
        srcset="images/nature.jpg 1x, images/nature@2x.jpg 2x" />
      <img class="feature__image" src="images/nature.jpg" alt=""
    /></picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content-2">
      <snap class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress-brands-solid"></use>
        </svg>
      </snap>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga iusto
        harum voluptatum quae qui hic temporibus inventore id aspernatur
        corporis?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="images/webp"
        srcset="images/nature.webp 1x, images/nature@2x.webp 2x" />
      <source
        type="images/jpg"
        srcset="images/nature.jpg 1x, images/nature@2x.jpg 2x" />
      <img class="feature__image" src="images/nature.jpg" alt=""
    /></picture>
  </article>
</section>
<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <snap class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress-brands-solid"></use>
        </svg>
      </snap>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga iusto
        harum voluptatum quae qui hic temporibus inventore id aspernatur
        corporis?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="images/webp"
        srcset="images/nature.webp 1x, images/nature@2x.webp 2x" />
      <source
        type="images/jpg"
        srcset="images/nature.jpg 1x, images/nature@2x.jpg 2x" />
      <img class="feature__image" src="images/nature.jpg" alt=""
    /></picture>
  </article>
</section>
