<header class="block__header hero__content">
    <h1 class="block__heading">Cloud Hosting for Pros</h1>
    <p class="hero__tagline">
      Deplot your websites in less than 60 seconds.
    </p>
    <a href="#" class="btn btn--accent btn--strached">Get Started</a>
  </header>
  <picture>
    <source
      type="images/webp"
      srcset="images/sayma.webp 1x, images/sayma@2X.webp 2X" />
    <source
      type="images/png"
      srcset="images/sayma.png 1x, images/sayma@2X.png 2X" />
    <img class="hero__image" src="images/sayma@2x.webp" alt=""
  /></picture>
</div>
</section>