<div class="card test">
  <div class="grid grid--1x2">
    <div class="test__image">
      <img src="images/sayma.jpg" alt="Its me and myself" />
      <snap class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quote-right-solid"></use>
        </svg>
      </snap>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis
        inventore modi laudantium consequatur consectetur nihil, minima repellat
        rem molestias architecto doloribus quo recusandae enim obcaecati.
      </p>
      <footer>
        <div class="media">
          <div class="media__img">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line-brands-solid"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__tittle quote__auther">John Smith</h3>
            <p class="quote__company">ABC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
